<div class="flex rounded-lg h-full dark:bg-gray-800 bg-teal-400 p-4 flex-col">
  <div class="flex items-center mb-3">
    <div class="animate-bounce mr-2">
      <img
        [src]="pokemon.spriteUrl"
        [alt]="pokemon.spriteUrl"
        width="96"
        height="96"
      />
    </div>

    <div>
      <h2 class="text-white dark:text-white text-lg font-medium">
        {{ pokemon.name | titlecase }}
      </h2>
      <p class="leading-relaxed text-base text-white dark:text-gray-300">
        {{ type | titlecase }} type pokémon
      </p>
    </div>
  </div>
</div>
